@import "../../utilities/_variables.scss";

.login-box {
  max-width:600px;
  width:100%;
  margin:0 auto;
  margin-top:50px;
  background:rgba(250,250,250,0.5);
  padding:50px;
  text-align: center;
}

.toggle-login {
  overflow:hidden;
  // display:inline-block;
}

.forms {
  overflow: hidden;
}

.box {
  width:100%;
  max-width:150px;
  height:100px;
  margin:5px;
  padding:0px 0px;
  display: inline-block;
  background:rgba(0,0,0,0.5);
  color:#fff;
  font-size:26px;
  cursor:pointer;
  line-height: 100px;
  letter-spacing: 2px;
}

input {
  margin:10px 0;
  width:300px;
  -webkit-appearance:none;
  background:none;
  color:#fff;
  font-size:20px;
  border-bottom:2px solid #fff;
}

input::placeholder {
  color:#fff;
}

button {
  display:inline-block;
  max-width:300px;
  width:100%;
}

.box:hover {
  transition:0.3s ease-in;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
}

.selected {
    transition:0.3s ease-in;
    background:$dark-blue;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}

@media screen and (max-width:512px) {
  .box {
    max-width:95px;
    height:100px;
    margin:5px;
    padding:0px 0px;
    display: inline-block;
    background:rgba(0,0,0,0.5);
    color:#fff;
    font-size:16px;
    cursor:pointer;
    line-height: 100px;
    letter-spacing: 2px;
  }

  .login-box {
    margin-top:0;
  }

  .selected {
      transition:0.3s ease-in;
      background:$dark-blue;
      box-shadow:0 0 10px rgba(0,0,0,0.5);
  }
}
