<div class="login-box">
<div class="toggle-login">
  <div [ngClass]="{selected:isPatient}"
  (click)="selectUser()" class="box">
    PATIENT
  </div>
  <div [ngClass]="{selected:isDoctor}"
  (click)="selectUser()" class="box">
    DOCTOR
  </div>
</div>
<div class="forms">
<form (ngSubmit)="patientLogin()"
*ngIf="isPatient === true">
  <label for="email-input"></label>
  <input id="email-input" name="email"
  [(ngModel)]="email" placeholder="email"/>
  <label for="password-input"></label>
  <input id="password-input" type="password" name="password"
  [(ngModel)]="password" placeholder="password"/>
  <button>patient login</button>
</form>
<form (ngSubmit)="doctorLogin()"
*ngIf="isDoctor === true">
  <label for="email-input"></label>
  <input id="email-input" name="email"
  [(ngModel)]="email" placeholder="email"/>
  <label for="password-input"></label>
  <input id="password-input" type="password" name="password"
  [(ngModel)]="password" placeholder="password"/>
  <button>doctor login</button>
</form>
</div>
<div class="error" *ngIf="errorMsg">
  {{errorMsg.message}}
</div>
</div>
