@import "../../utilities/_variables.scss";

.patient-section {
  height:auto;
  position: relative;
  width:100%;
  top:0;right:0;left:0;bottom:0;
  color:#fff;
  overflow:hidden;

  .sidebar {
    height:100vh;
    background:$dark-grey;
    box-shadow:4px 0 4px 0 rgba(0,0,0,0.5);
    width:15%;
    position: relative;
    overflow: hidden;
    z-index:2;

    .sidebar-content {
      text-align: center;
      padding-top:10vh;
      position: relative;
      overflow: hidden;
      z-index:1;

      a {
        display:block;
        padding:10px;
        color:#fff;
        cursor: pointer;
      }

        a:hover {
          color:$dark-grey;
          background:#fff;
          transition:0.3s ease-in;
        }


      img {
        max-width:50%;
      }


    }
  }

  .data {
    padding:20px;
    border:1px solid #fff;
    display:inline-block;
    width:250px;
    margin:10px;
  }

  .patient-data {
    width:85%;
    height:100vh;
    overflow-y: scroll;
    background:$dark-grey;
  }

  input {
    color:#fff!important;
    font-size:20px;
    -webkit-appearance:none;
    background: transparent;
    border-bottom:2px solid #fff;
  }

}

.input-data {
  display:none;
  left:-1000px;
  padding:50px;
  position: relative;
}

.display {
  display:block!important;
  animation:1.5s switch forwards;

}

@keyframes switch {
  100% {left:0px}
}
@media screen and (max-width:512px) {
  .sidebar {
    height:15vh!important;
    width:100%!important;

    .sidebar-content {
      padding-top:0!important;
      position: absolute!important;

      img {
        max-width:10%!important;
      }

      a, p {
        display: inline!important;
      }
    }
  }

  .patient-data {
    width:100%!important;
    height:100vh!important;
    padding-top:15vh!important;
    // overflow-y: scroll;
    background:$dark-grey;
  }
}
