<section class="patient-section">
<div class="row">

    <div class="sidebar left">
      <div class="sidebar-content">
        <img src="../assets/images/profile.png" />
        <p>
          {{authService.currentUser.firstName}}
          {{authService.currentUser.lastName}}
        </p>
        <div class="sidebar-menu">
          <a href="/track">TRACK</a>
          <a href="#">PROGRESS</a>
          <a href="#">MY DOCTOR</a>
          <a href="#">DR NOTES</a>
          <a href="#">HELP</a>
        </div>
      </div>
    </div>
    <div class="patient-data left">
      <div class="data">

      </div>
    </div>





</div>



</section>

<!-- <div *ngIf="currentUser">
<form *ngIf="authService.currentUser.doctors.length === 0"
(ngSubmit)="addToDoctor()">
  <label for="doctor-code"></label>
  <input id="doctor-code" [(ngModel)]="doctorCode"
  name="doctor-code"/>
  <button>add doctor</button>
</form>
<h4>Doctors</h4>
<p *ngIf="authService.currentUser.doctors.length === 1">
  <button (click)="removeDoc()">
    remove doctors
  </button>
  {{authService.currentUser.doctors[0].firstName}}
</p>
</div>

Hello, {{authService.currentUser.firstName}} -->
