@import "../utilities/_variables.scss";

.logo {
  margin-left:80px;
  font-size:24px;
  letter-spacing: -2px;
  color:$dark-blue;
  font-family:'Avenir Next', sans-serif, 'Helvetica Neue';
  font-weight:600;
}

.logo:hover {
  color:$dark-blue;
}

nav {
  margin-right:80px;

  a {
    color:$dark-blue;
    margin-left:20px;
    text-decoration: none;
    padding:10px 15px;
    cursor: pointer;
  }
  a:nth-child(1) {
    background-color: $dark-blue;
    color: #fff;
    border-radius: 100px;
  }
}

.mobile-menu {
  display: none;
  width: 60px;
  height: 45px;
  top:2.5vh;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

 span, .mobile-menu span {
  display: block;
  position: absolute;
  height: 5px;
  width: 50%;
  background: $dark-blue;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.mobile-menu span:nth-child(1) {
  top: 0px;
}

.mobile-menu span:nth-child(2),.mobile-menu span:nth-child(3) {
  top: 10px;
}

.mobile-menu span:nth-child(4) {
  top: 20px;
}

.mobile-menu.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 25%;
}

.mobile-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mobile-menu.open span:nth-child(4) {
  top: 20px;
  transition:0.1s linear;
  width: 0%;
  left: 25%;
}

.menu-content {
  width:0%;
  height:15vh;
  line-height: 15vh;
  overflow: hidden;
  position: fixed;
  z-index:999;
  left:0;
  top:10vh;
  background: #fff;
  text-align: center;
  border-bottom:1px solid #000;

  .options {
    display:inline;

    a, p {
      padding:10px;
      margin:0 10px;
      background:$dark-blue;
      color:#fff;
      border-radius:25px;

    }
  }
}

.showMenu {
  transition: 0.2s linear;
  width:100%!important;
}

@media screen and (max-width:512px) {
  .u-pull-right {
    display: none;
  }

  .mobile-menu {
    display:block;
  }
}

@media screen and (max-width:589px) {
  nav {
    margin-right:40px;
  }

  .logo {
    margin-left:40px;
  }
}
