@import "../utilities/_variables.scss";

.logo {
  margin-left:80px;
  font-size:24px;
}

nav {
  margin-right:80px;

  a {
    color:$dark-blue;
    margin-left:20px;
    text-decoration: none;
    padding:10px 15px;
    cursor: pointer;
  }
  a:nth-child(1) {
    background-color: $dark-blue;
    color: #fff;
    border-radius: 100px;
  }
}
