<header>
  <a href="/">
    <div class="logo u-pull-left">
      SapienHealth
    </div>
  </a>
  <!-- desktop menu -->
  <nav class="u-pull-right">
    <div *ngIf="authService.isLoggedOut">
      <a href="/signup">sign up</a>
      <a href="/login">login</a>
    </div>
    <div *ngIf="authService.isLoggedOut === false">
      <a (click)="logout()">logout</a>
    </div>
  </nav>
  <!-- mobile menu -->
  <div class="mobile-menu u-pull-right" (click)="toggleOpen()"
  [ngClass]="{open:isClicked}">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="menu-content" [ngClass]="{showMenu:isClicked}">
    <div *ngIf="authService.isLoggedOut">
      <a href="/signup">sign up</a>
      <a href="/login">login</a>
      <p (click)="toggleOpen()">close</p>
    </div>
    <div *ngIf="authService.isLoggedOut === false">
      <a (click)="logout()">logout</a>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
</footer>
