@import "../../utilities/_variables.scss";

.doctors-section {
  font-family:'Avenir Next';
  letter-spacing:2px;
  position: relative;
  background:$light-blue;
  height:auto;
  width:100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow-y: hidden;

  .welcome {

  }

  h4 {
    text-indent: 80px;
  }

  .patients {
    padding-top:60px;
  }

  .constraint {
    max-width:900px;
    margin:auto;
    padding-top:50px;
  }

  .code {
    background:#fff;
    font-size: 24px;
    font-weight:900;
    font-family:'Avenir Next';
    letter-spacing: -2px;
    padding:10px;
    display:inline;
  }

  .header {
    overflow:hidden;
  }

  ul {
    li:nth-child(odd) {
      background-color:rgba(0,0,0,0.2);
    }
    li {
      padding:20px 80px;
    }
  }

}
