@import "../../utilities/_variables.scss";

.signup-section {
  background-color:$light-blue;
  position: absolute;
  min-height:100%;
  width:100%;

}

.signup-header {
  background:rgba(250,250,250,0.5);
  text-align: center;
  display:table;
  height:256px;
  width:100%;

  // img {
  //   max-width:100px;
  // }


  h3 {
    display: table-cell;
    vertical-align: middle;
    color:$dark-blue;
    background:url('../../assets/images/heart.png');
    background-repeat: no-repeat;
    background-size:200px;
    background-position: 200px 25px;

  }
}

.user-info {
  margin-top:100px;
}

.type-of-user {
  width:80%;
  margin:auto;
  text-align: center;

  h5 {
    text-align: left;
    letter-spacing: 2px;
    margin-left: 4px;
  }

  .box {
    min-width:100px;
    height:100px;
    margin:5px;
    padding:0 20px;
    float:left;
    background:rgba(0,0,0,0.5);
    color:#fff;
    font-size:26px;
    cursor:pointer;
    line-height: 100px;
    letter-spacing: 2px;
  }

  .box:hover {
    transition:0.3s ease-in;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
  }

  .selected {
    transition:0.3s ease-in;
    background:$dark-blue;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
  }
}
