@import "../../utilities/_variables.scss";

.header-container {
  height:90vh;
  //76vh
  width:100%;
  text-align: center;
  position: relative;

  h2 {
    padding:100px 0;
    color:#fff;
    display: inline-block;
  }
  img {
    position: absolute;
    bottom:0;
    left:0;
    max-width: 100%;
  }

  .demo-button {
    background:$dark-blue;
    text-decoration: none;
    color:#fff;
    display:block;
    width:200px;
    margin:auto;
    padding:10px;
    border-radius:25px;
    overflow: hidden;

    a {
      color:#fff!important;
    }
  }

  .demo-button:hover {
    transition:0.3s ease-in;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  }
}

.how-it-works {
  // height:75vh;
  overflow-y: hidden;
  background:$light-blue;

  .content {
    text-align: center;
    padding:50px;

    h3 {
      font-size: 36px;
    }

    img {
      display:block;
      margin:auto;
      max-width:50px;
      margin-top:20px;
    }

    span {
      margin:4%;
      cursor: pointer;
    }

    .default {
      transition:0.3s linear;
      color:rgba(0,0,0,0.5);
      font-size:18px;
    }

    .selected {
      transition:0.3s linear;
      color:rgba(0,0,0,1);
      font-size:20px;
    }
  }

  .how-toggle {
    margin-top:50px;
    height:40px;

    span {
      font-size:18px;
    }
  }

  .steps-info {
    text-align: left;
    width:200px;
    margin:auto;
    margin-top:50px;

    .displayInfo {

    }
  }

}

@media screen and (max-width:485px){
  .header-container {
    height:80vh;
  }
}
