<div class="row">
  <div class="header-container">
    <h2>Health is 24/7.<br />
    And so are we.</h2>
    <div class="demo-button">
      <a href="/signup">TRY OUR PRODUCTS</a>
    </div>
    <img src="../assets/images/rolling-hills.png" />
  </div>
</div>
<div class="row">
  <section class="how-it-works">
    <div class="content">
      <h3>HOW IT WORKS</h3>
        <img src="../../assets/images/squigly.png" />

        <div class="how-toggle">
          <span class="default" (click)="selectUser()"
                [ngClass]="{selected:isPatient}" >
            PATIENTS
          </span>
          <span class="default" (click)="selectUser()"
                 [ngClass]="{selected:isDoctor}">
            DOCTORS
          </span>
       </div>

       <div class="steps-info">
         <ol class="defaultList"
             [ngClass]="{displayInfo:isPatient}"
             *ngIf="isPatient === true">
           <a href="/signup"><li>sign up</li></a>
           <li>connect with a doctor</li>
           <li>live and feel better</li>
         </ol>
         <ol class="defaultList"
             [ngClass]="{displayInfo:isDoctor}"
             *ngIf="isDoctor === true">
           <a href="/signup"><li>sign up</li></a>
           <li>give your patients your code</li>
           <li>connect and track their progress</li>
         </ol>
       </div>
    </div>
  </section>
</div>
